* {
    box-sizing: border-box;
}
:root{
   /* -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); */
}

body {
    background-color: #e1e2e6;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: rgb(78, 66, 66);
    text-align: center;
    padding: 25px;
}

aside {
    width: 25%;
    float: left;
    position: sticky;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    top: 76px;
}

section {

    margin-left: 25%;
}

article {
    width: 25%;
    float: left;
}
main{
    margin-top: 76px;
}
.input_def_des_box {
    border-radius: 25px;
    padding: 10px 25px 25px 25px;
    overflow: auto; /* Dodane */
    margin: 25px;
    background-color: #fde5ee;
   /* background-image: linear-gradient(174deg, rgba(255, 192, 203, 1) 24%, rgba(182, 145, 210, 1) 60%); */
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.input_def_box, .input_des_box {
    float: left;
    padding: 10px;
    width: 40%;
}

textarea {
    padding-bottom: 5px;
    background: none;
    border: none;
    border-style: hidden;
    border-bottom: 1px solid black;
    box-shadow: none;
    float: left;
    width: 100%;
    height: 44px;
    resize: none;
    overflow: hidden;
    font-size: 32px;

}

.input_def, .input_des:focus {
    outline: none;
}
.input_image{
    padding: 10px;
    width: 20%;
    float: left;
}
.custom-file-upload {
    font-size: 16px;
    padding: 10px;
    width: 20%;
    float: right;
    display: inline-block;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 50px;
    margin-top: 10px;

}

.custom-file-upload:hover {
    background: #0056b3;
}

.input_image {
    display: none; /* Ukryj standardowy input */
}
.language-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    max-height: 150px;
    overflow-y: auto;

    background-color: white;
    position: relative;
}

.language-list li {
    padding: 8px;
    cursor: pointer;
}

.language-list li:hover {
    background-color: #f0f0f0;
}

