.css-input {
    border-width: 0px;
    background:transparent;
    color: #000000;
    border-style: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.100);
    text-shadow: 0px 0px 0px rgba(66,66,66,.100);
}
.css-input:focus {
    outline:none;
}
body {
    background-color: #e1e2e6;
    margin: 0;
}

#show_card_container{
    position: absolute;
    background-color: transparent;
    aspect-ratio: 16 / 9;
    width: 800px;
    perspective: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
#show_card{

    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-size: 3rem;
}

#card_def{
    background-color: #fde5ee;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    border-radius: 25px;
    padding: 25px;
    overflow: auto; /* Dodane */
    /* margin: 25px; */
  }
  #card_des{
      background-color: #fde5ee;
      transform: rotateY(180deg);
      box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
      border-radius: 25px;
      padding: 25px;
      overflow: auto; /* Dodane */
      /* margin: 25px; */
}

#card_def, #card_des{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.form-group{
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1em;
    justify-content: center;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px 50px;
    height: 100px;
    margin: 20px 0 20px 0;
    gap:10px;
}
#know_dont_know{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}
#know_dont_know >*{
    display: flex;
    height: 100%;
    width: 200px;
    background-color: rgb(68, 0, 255);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
}
* {
    box-sizing: border-box;
}
#knowForm2{
    display: none;
    visibility: hidden;
}
.a-links{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    grid-gap: 10px;
}
.a-links > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
#previous, #next{
    margin-top: 0;
}
    @media (max-width: 992px) {
        #show_card_container {
            aspect-ratio: unset;
            ;
        }
        #show_card{
            aspect-ratio: 7/3;
        }
        body {
            margin: 0;
            padding: 0;
        }

        #buttons {
            display: flex;
            flex-direction: column;
            height: auto;
        }

        #buttons > * {
            grid-area: unset;
            margin: 5px 0;
        }

        #know_dont_know {
            flex-direction: column;
            height: auto;
            margin-top: 10px;
        }

        #know_dont_know > * {
            width: 100%;
            margin: 5px 0;
        }

        .a-links {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            margin-top: 10px;
        }

        .a-links > * {
            margin: 5px 0;
        }
    }