body {
<<<<<<< HEAD
    color: blue;
    overflow-x: hidden;
=======
    color: red;
>>>>>>> 89bc3243f3169d1e1deed8f9bc1ca0c68fd01927
}
#flashset{
    border : 1px solid red;
}
#elo{
color:red;
<<<<<<< HEAD
=======
type: hidden;
>>>>>>> 89bc3243f3169d1e1deed8f9bc1ca0c68fd01927
}
.css-input {
    border-width: 0px;
    background:transparent;
    color: #000000;
    border-style: hidden;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(66,66,66,.100);
    text-shadow: 0px 0px 0px rgba(66,66,66,.100);
}
.css-input:focus {
    outline:none;
}
#sidecards{
    position: absolute;
    left: 50%;
    transform: translate( -50%);
<<<<<<< HEAD
}
#show_card_container{
    height: 500px;
    background-color: aqua;
    display: grid;
}
#show_card{
    
    position: absolute;
    left: 50%;
    transform: translate( -100px);
    padding-right: 200px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    font-size: 3rem;
}

  #card_def{
    background-color: red;
    
  }
  #card_des{
    background-color: blue;
    transform: rotateY(180deg);
  }

#card_def, #card_des{
    position: absolute;
    
    height: 200px;
    width: 200px;
    transition: transform 0.8s;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
#buttons{
    
    display: flex;
    position: relative;
    height: 25px;
    top: 250px;
    
    justify-content: center;
    align-items: center;
    
}
#know_dont_know{
    display: flex;
    position: relative;
   
    left: 50%;
    transform: translate( -50%);
    justify-content: center;
    align-items: center;
}
#know_dont_know >*{
    display: inline-grid;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: purple;
    align-content: center;
    justify-content: center;
    
    
=======
>>>>>>> 89bc3243f3169d1e1deed8f9bc1ca0c68fd01927
}