<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; top: 0; width: 100%; z-index: 1000">
    <a class="navbar-brand" th:href="@{/userpanel}">My Learn App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create new set
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1" style="padding: 10px">
                    <form th:action="@{/Add}"  th:object="${flashCardSet1}" method="post"  style="display: block">
                        <label for="SetName">Set Name</label>
                        <input name="SetName" class="form-control" id="SetName" placeholder="Set name" style="width: auto">
                        <label for="Description">Description</label>
                        <input name="Description" id="Description" class="form-control" placeholder="Description" style="width: auto; margin-bottom: 0.5rem">
                        <input type="submit" value="Add new set" class="btn btn-primary">
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${user.userName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:href="@{/Logout}" class="dropdown-item">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a th:href="@{/UserProfile}" class="dropdown-item">User Profile</a>
                    <a th:href="@{/AddFlashCardSet/{userID}(userID=${user.userID})}" class="dropdown-item">  Create new set</a>
                </div>


            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/search}" style="position: relative">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="term" id="search_input">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <table id="search_results" style="position: absolute; background-color: white; width: 100%; z-index: 1000; top:50px; display: none">
                <thead>
                <tr>
                    <th>Definition</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </form>
    </div>
</nav>
<script>
    const search_results = document.getElementById("search_results").querySelector("tbody");
    const search_table = document.getElementById("search_results");
    const displayedResults = new Set();
    let searchTimeout;

    document.getElementById("search_input").addEventListener("input", function() {
        const test_var = document.getElementById("search_input").value;
        console.clear();

        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(() => {
            search_results.innerHTML = '';
            displayedResults.clear();

            fetch(`/search2?term=${test_var}`)
                .then(response => response.json())
                .then(data => {
                    if(data.length === 0) {
                        search_table.style.display = 'none';
                    } else {
                        search_table.style.display = 'block';
                    }
                    // Extract the required fields from the response
                    data.forEach(flashCard => {
                        const {definition, description, flashCardId} = flashCard;
                        const resultText = `${definition} - ${description}`;
                        if (!displayedResults.has(resultText)) {
                            console.log(`Definition: ${definition}`);
                            console.log(`Description: ${description}`);
                            const tr = document.createElement('tr');
                            const tdDefinition = document.createElement('td');
                            const tdDescription = document.createElement('td');
                            const link_def = document.createElement('a');
                            link_def.href = `/search_one_card/${flashCardId}`;
                            link_def.textContent = definition;
                            tdDefinition.appendChild(link_def);
                            const link_des = document.createElement('a');
                            link_des.href = `/search_one_card/${flashCardId}`;
                            link_des.textContent = description;
                            tdDescription.appendChild(link_des);
                            tr.appendChild(tdDefinition);
                            tr.appendChild(tdDescription);
                            search_results.appendChild(tr);
                            displayedResults.add(resultText);
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        }, 100); 
    });
</script>