<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form th:action="@{/Add}"  th:object="${flashCardSet1}" method="post">

    <table>
        <tr>
            <td>Set Name:</td>
            <td><input name="SetName"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input name="Description" ></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add"></td>
        </tr>

    </table>
</form>
<form action="#" th:action="@{/userpanel}" th:object="${user}" method="post" class="form-group">
            <input th:name="UserLogin" th:field="*{UserLogin}" th:value="${user.UserLogin}" type="hidden">
            <input th:name="UserPass" th:field="*{UserPass}" th:value="${user.UserPass}" type="hidden">
            <input type="submit" value="Return to userpanel">
        </form>
</body>
</html>