<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/EditFlashCardSet_style.css" />

    <script src="https://kit.fontawesome.com/50d738d854.js" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar"></div>


    <th:block th:each="image, stat : ${imagePaths}">
        <img th:src="${image}" alt="Obraz fiszki" style="display: none" th:id="'source_image' + ${stat.index}"/>
    </th:block>




<main>
        <aside>
            <a href="#" th:href="@{/FlashCardGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">FlashCards</a>
            <a href="#" th:href="@{/QuizGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">QuizGame</a>
            <a href="#" th:href="@{/MatchingGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">MatchingGame</a>
            <a href="#" th:href="@{/reset_progress}" class="btn btn-primary" >reset_progress</a>

            <!--<p>You last vist:</p>
            <p th:text="${flashcard_set_lastvisit}"></p> -->
            <p th:text="'Your set learning progress is: ' + ${flashcard_set_progress}+'%'"></p>
            <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" th:aria-valuenow="${flashcard_set_progress}" aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${flashcard_set_progress} + '%'"></div>
            </div>
            <!--<p>Count learned:</p>
            <p th:text="${count_learned}"></p>
            <p>set_size:</p>
            <p th:text="${set_size}"></p>
            You know these cards:
            <div th:each="leared :${learncard}">
                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                <p th:text="${leared.Definition}"></p>
                <p th:text="${leared.Description}"></p>
            </div> -->
        </aside>

        <section id="cardSection">
            <div id="formContainer">
            <div class="input_def_des_box" th:each="card :${flashCard}" >
                <form th:action="@{/EditCard}" method="post" enctype="multipart/form-data" th:id="'edit-form-' + ${card.FlashCardId}">
                    <div style="gap:10px">

                        <a href="#" th:href="@{/deleteCard(FlashCardId=${card.FlashCardId}, SetID=${card.SetID})}" style="float: right; margin-right: 10px;">
                            <i class="fa-solid fa-x" ></i>

                        </a>
                        <button type="button" th:data-name="${card.FlashCardId}" class="showEditField" onclick="showEditField(event, this.getAttribute('data-name'))" style="background: none; border: none; float: right">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="submit" value="Confirm edit" th:id="'Confirm_' + ${card.FlashCardId}" style="display: none; background: none; border: none; float: right" th:data-name="${card.FlashCardId}" onclick="swap_lang_codes(event, this.getAttribute('data-name'))">
                            <i class="fa-duotone fa-solid fa-check"></i>
                        </button>
                    </div>


                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                <!--------------------------------------------------------------------------------------->
                <!--Edit exist card---------------------------------------------------------------------->

                    <input type="hidden" th:value="${card.FlashCardId}" name="FlashCardId">
                    <input type="hidden" th:value="${card.SetID}" name="SetID">
                <div class="input_def_box">
                    <textarea wrap="hard" class="input_def"  th:text="${card.Definition}" name="Definition" th:id="'DefinitionInput_' + ${card.FlashCardId}"  disabled></textarea>

                    <div style="font-size: 16px">Pojęcie</div>
                    <p th:text="'Definition Lang: '+ ${card.def_lang}" th:id="'P-DEF'+${card.def_lang}"></p>
                    <input type="hidden" th:value="${card.def_lang}" th:id="'INPUT_DEF_LANG_ID'+${card.FlashCardId}">
                    <input type="text" th:id="'def-lang_show'+ ${card.FlashCardId}" name="def_lang_show" placeholder="Enter language" style="width: 100%; display: none" >
                    <input type="hidden" th:id="'def-lang'+ ${card.FlashCardId}" name="def_lang">
                    <ul th:id="'def-lang-list'+ ${card.FlashCardId}" class="language-list"></ul>
                    <button class="hover_test_btn" th:data-name="${card.FlashCardId}" th:data-definition-text="${card.Definition}" th:data-definition-lang="${card.def_lang}" onclick="speakDefinition(event, this)" style="background: none; border: none; float: right">
                        <i class="fa-solid fa-triangle-exclamation"  th:id="'I-DEF'+${card.def_lang}"></i>
                        <i class="fa-solid fa-circle-play"></i>
                        <span class="hover_test" th:id="'S-DEF'+${card.des_lang}">Language not supported, English voice will be used</span>
                    </button>
                </div>
                <div class="input_des_box">
                    <textarea wrap="hard" class="input_def"  th:text="${card.Description}" name="Description" th:id="'DescriptionInput_' + ${card.FlashCardId}"  disabled></textarea>

                    <div style="font-size: 16px">Defnicja</div>
                    <p th:text="'Description Lang:'+ ${card.des_lang}" th:id="'P-DES'+${card.des_lang}"></p>
                    <input type="hidden" th:value="${card.des_lang}" th:id="'INPUT_DES_LANG_ID'+${card.FlashCardId}">
                    <input type="text" th:id="'des-lang_show'+ ${card.FlashCardId}" name="des_lang_show" placeholder="Enter language" style="width: 100%; display: none">
                    <input type="hidden" th:id="'des-lang'+ ${card.FlashCardId}" name="des_lang">
                    <ul th:id="'des-lang-list'+ ${card.FlashCardId}" class="language-list"></ul>
                    <button class="hover_test_btn" th:data-name="${card.FlashCardId}" th:data-definition-text="${card.Description}" th:data-definition-lang="${card.des_lang}" onclick="speakDefinition(event, this)" style="background: none; border: none; float: right">
                        <i class="fa-solid fa-triangle-exclamation" th:id="'I-DES'+${card.des_lang}"></i>
                        <i class="fa-solid fa-circle-play"></i>
                        <span class="hover_test" th:id="'S-DES'+${card.des_lang}">Language not supported, English voice will be used</span>
                    </button>
                </div>

                <div>
                    <label th:for="'file-upload-edit' + ${card.FlashCardId}" class="custom-file-upload" style=" text-align: center; font-size: 13px; ">
                        <i class="fas fa-upload"></i> Obraz
                    </label>
                    <input th:id="'file-upload-edit' + ${card.FlashCardId}" type="file" class="input_image" th:name="file">
                </div>
                </form>
                <!-- Element docelowy -->
                <img th:id="targetImage" alt="Obraz" style="max-width: 200px;">
                <!-- <p th:text="'Time out: '+ ${card.time_out}"></p>-->
                 <!-- <p th:text="'next_rep: '+ ${card.next_rep}"></p>-->

            </div>
            <!--------------------------------------------------------------------------------------->
            <!--Input a new card--------------------------------------------------------------------->
                <form th:action="@{/AddCard}" method="post" enctype="multipart/form-data">
            <div class="input_def_des_box">
                <p style="float: left; margin: 0; margin-left: 10px;" >Create new card</p>
                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>

                    <input type="hidden" id="setID" th:value="${flashCards.SetID}"   th:field="${flashCards.SetID}" name="SetID">
                    <div class="input_def_box">
                        <textarea wrap="hard" class="input_def" name="Definition[]"></textarea>

                        <div style="font-size: 16px">Pojęcie</div>
                    </div>
                    <div>
                        <label for="file-upload2" class="custom-file-upload" style=" text-align: center; font-size: 13px; ">
                            <i class="fas fa-upload"></i> Obraz
                        </label>
                        <input id="file-upload2" type="file" class="input_image" th:name="file[]" multiple>
                    </div>
                    <div class="input_des_box">
                        <textarea wrap="hard" class="input_def"   name="Description[]"></textarea>

                        <div style="font-size: 16px">Defnicja</div>
                    </div>

            </div>
            </div>
            <div style="margin-bottom: 25px">
                <button id="addCardButton" type="button">Dodaj kartę</button>
                <input type="submit" value="Add Card">
            </div>

        </section>
    </form>
    </main>









           

<script th:inline="javascript">
    /*<![CDATA[*/
    const supportedLanguages = [
        { name: 'Polish (Poland)', lang: 'pl-PL', short: 'pl' },
        { name: 'German', lang: 'de-DE', short: 'de' },
        { name: 'US English', lang: 'en-US', short: 'en' },
        { name: 'Spanish', lang: 'es-ES', short: 'es' },
        { name: 'French', lang: 'fr-FR', short: 'fr' },
        { name: 'Hindi', lang: 'hi-IN', short: 'hi' },
        { name: 'Indonesian', lang: 'id-ID', short: 'id' },
        { name: 'Italian', lang: 'it-IT', short: 'it' },
        { name: 'Japanese', lang: 'ja-JP', short: 'ja' },
        { name: 'Korean', lang: 'ko-KR', short: 'ko' },
        { name: 'Dutch', lang: 'nl-NL', short: 'nl' },
        { name: 'Brazilian Portuguese', lang: 'pt-BR', short: 'pt' },
        { name: 'Russian', lang: 'ru-RU', short: 'ru' },
        { name: 'Chinese (Hong Kong)', lang: 'zh-HK', short: 'zh' }
    ];
    const I_DEF = document.querySelectorAll('i[id^="I-DEF"]');
    const I_DES = document.querySelectorAll('i[id^="I-DES"]');
    const hoverTests_def = document.querySelectorAll('span[id^="S-DEF"]');
    const hoverTests_des = document.querySelectorAll('span[id^="S-DES"]');
    const showEditField_btn_arr = document.querySelectorAll('showEditField');
    console.log(showEditField_btn_arr);
    window.addEventListener("load", (event) => {

        for (let i = 0; i < I_DEF.length; i++) {
            let defLangSupported = false;
            let desLangSupported = false;

            for (let j = 0; j < supportedLanguages.length; j++) {
                if (I_DEF[i].id.includes(supportedLanguages[j].short)) {
                    I_DEF[i].style.display = 'none';
                    defLangSupported = true;
                }
                if (I_DES[i].id.includes(supportedLanguages[j].short)) {
                    I_DES[i].style.display = 'none';
                    desLangSupported = true;
                }
            }

            if (defLangSupported) {
                hoverTests_def[i].innerHTML = '';
                hoverTests_def[i].classList.remove('hover_test');
            }
            if (desLangSupported) {
                hoverTests_des[i].innerHTML = '';
                hoverTests_des[i].classList.remove('hover_test');
            }
        }
    });

    function speak(text, lang) {
        if(!(supportedLanguages.find(l => l.short === lang))) {
            console.log('Language not supported');
            lang ='en-US';
        } else{
            lang = supportedLanguages.find(l => l.short === lang).lang;
        }
        if ('speechSynthesis' in window) {
            const synth = window.speechSynthesis;
            const utterance = new SpeechSynthesisUtterance(text);
            utterance.lang = lang;
            synth.speak(utterance);
            console.log('Speaking...'+ lang);
        } else {
            console.error("Web Speech API is not supported in this browser.");
        }
    }
    function speakDefinition(event, element) {
        event.preventDefault();
        const text = element.getAttribute('data-definition-text');
        const lang = element.getAttribute('data-definition-lang');
        speak(text, lang);
    }
    // funkcja pokazująca pole edycji fiszki po kliknięciu przycisku
    function showEditField(event, cardId) {

        var definitionInput = document.getElementById('DefinitionInput_' + cardId);
        var descriptionInput = document.getElementById('DescriptionInput_' + cardId);
        let definitionInput_Lang = document.getElementById('def-lang_show' + cardId);
        let descriptionInput_Lang = document.getElementById('des-lang_show' + cardId);
        let Confirm_button = document.getElementById('Confirm_' + cardId);
        Confirm_button.style.display = "";
        definitionInput.disabled = false;
        descriptionInput.disabled = false;
        descriptionInput_Lang.style.display = "block";
        definitionInput_Lang.style.display = "block";
        let Inputs = [definitionInput, descriptionInput];
        Inputs.forEach(input => {
            if (input) { // Sprawdź, czy input istnieje
                autoResize.call(input);
            } else {
                console.log("Input not found: ", input); // Debugowanie
            }
        });
    }







    let arr = /*[[${slidecard}]]*/ "";
   // let userID = /*[[${userID}]]*/ "";
 //   console.log("userID= "+userID);
    let FromEdit = /*[[${fromEdit}]]*/ "";
    console.log("fromEdit= "+FromEdit);

    window.addEventListener("load", (event) => {
        if (performance.navigation.type !== 1 && FromEdit===false) { // Check if the page was not reloaded
            const setID = arr[0].setID; // Ensure `arr` is correctly populated
            const userID = /*[[${userID}]]*/ ""; // Ensure `user` is correctly populated
            const activity = 'view'; // Ensure `activity` is correctly defined

            // Check if any of the variables are undefined
            if (setID && userID && activity) {
                fetch(`/addUserActivity/${setID}/${userID}/${activity}`, {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
            } else {
                console.error('One or more required variables are undefined:', { setID, userID, activity });
            }
        } else {
            console.log('Page was reloaded, skipping fetch request.');
        }
    });

    const languages = [
        { name: 'Afar', lang: 'aa' },
        { name: 'Abkhazian', lang: 'ab' },
        { name: 'Afrikaans', lang: 'af' },
        { name: 'Akan', lang: 'ak' },
        { name: 'Amharic', lang: 'am' },
        { name: 'Arabic', lang: 'ar' },
        { name: 'Assamese', lang: 'as' },
        { name: 'Aymara', lang: 'ay' },
        { name: 'Azerbaijani', lang: 'az' },
        { name: 'Bashkir', lang: 'ba' },
        { name: 'Belarusian', lang: 'be' },
        { name: 'Bulgarian', lang: 'bg' },
        { name: 'Bihari', lang: 'bh' },
        { name: 'Bislama', lang: 'bi' },
        { name: 'Bengali', lang: 'bn' },
        { name: 'Tibetan', lang: 'bo' },
        { name: 'Breton', lang: 'br' },
        { name: 'Bosnian', lang: 'bs' },
        { name: 'Buginese', lang: 'bug' },
        { name: 'Catalan', lang: 'ca' },
        { name: 'Cebuano', lang: 'ceb' },
        { name: 'Cherokee', lang: 'chr' },
        { name: 'Corsican', lang: 'co' },
        { name: 'Seselwa', lang: 'crs' },
        { name: 'Czech', lang: 'cs' },
        { name: 'Welsh', lang: 'cy' },
        { name: 'Danish', lang: 'da' },
        { name: 'German', lang: 'de' },
        { name: 'Dhivehi', lang: 'dv' },
        { name: 'Dzongkha', lang: 'dz' },
        { name: 'Egyptian', lang: 'egy' },
        { name: 'Greek', lang: 'el' },
        { name: 'English', lang: 'en' },
        { name: 'Esperanto', lang: 'eo' },
        { name: 'Spanish', lang: 'es' },
        { name: 'Estonian', lang: 'et' },
        { name: 'Basque', lang: 'eu' },
        { name: 'Persian', lang: 'fa' },
        { name: 'Finnish', lang: 'fi' },
        { name: 'Fijian', lang: 'fj' },
        { name: 'Faroese', lang: 'fo' },
        { name: 'French', lang: 'fr' },
        { name: 'Frisian', lang: 'fy' },
        { name: 'Irish', lang: 'ga' },
        { name: 'Scots Gaelic', lang: 'gd' },
        { name: 'Galician', lang: 'gl' },
        { name: 'Guarani', lang: 'gn' },
        { name: 'Gothic', lang: 'got' },
        { name: 'Gujarati', lang: 'gu' },
        { name: 'Manx', lang: 'gv' },
        { name: 'Hausa', lang: 'ha' },
        { name: 'Hawaiian', lang: 'haw' },
        { name: 'Hindi', lang: 'hi' },
        { name: 'Hmong', lang: 'hmn' },
        { name: 'Croatian', lang: 'hr' },
        { name: 'Haitian Creole', lang: 'ht' },
        { name: 'Hungarian', lang: 'hu' },
        { name: 'Armenian', lang: 'hy' },
        { name: 'Interlingua', lang: 'ia' },
        { name: 'Indonesian', lang: 'id' },
        { name: 'Interlingue', lang: 'ie' },
        { name: 'Igbo', lang: 'ig' },
        { name: 'Inupiak', lang: 'ik' },
        { name: 'Icelandic', lang: 'is' },
        { name: 'Italian', lang: 'it' },
        { name: 'Inuktitut', lang: 'iu' },
        { name: 'Hebrew', lang: 'iw' },
        { name: 'Japanese', lang: 'ja' },
        { name: 'Javanese', lang: 'jw' },
        { name: 'Georgian', lang: 'ka' },
        { name: 'Khasi', lang: 'kha' },
        { name: 'Kazakh', lang: 'kk' },
        { name: 'Greenlandic', lang: 'kl' },
        { name: 'Khmer', lang: 'km' },
        { name: 'Kannada', lang: 'kn' },
        { name: 'Korean', lang: 'ko' },
        { name: 'Kashmiri', lang: 'ks' },
        { name: 'Kurdish', lang: 'ku' },
        { name: 'Kyrgyz', lang: 'ky' },
        { name: 'Latin', lang: 'la' },
        { name: 'Luxembourgish', lang: 'lb' },
        { name: 'Ganda', lang: 'lg' },
        { name: 'Limbu', lang: 'lif' },
        { name: 'Lingala', lang: 'ln' },
        { name: 'Laothian', lang: 'lo' },
        { name: 'Lithuanian', lang: 'lt' },
        { name: 'Latvian', lang: 'lv' },
        { name: 'Mauritian Creole', lang: 'mfe' },
        { name: 'Malagasy', lang: 'mg' },
        { name: 'Maori', lang: 'mi' },
        { name: 'Macedonian', lang: 'mk' },
        { name: 'Malayalam', lang: 'ml' },
        { name: 'Mongolian', lang: 'mn' },
        { name: 'Marathi', lang: 'mr' },
        { name: 'Malay', lang: 'ms' },
        { name: 'Maltese', lang: 'mt' },
        { name: 'Burmese', lang: 'my' },
        { name: 'Nauru', lang: 'na' },
        { name: 'Nepali', lang: 'ne' },
        { name: 'Dutch', lang: 'nl' },
        { name: 'Norwegian', lang: 'no' },
        { name: 'Ndebele', lang: 'nr' },
        { name: 'Pedi', lang: 'nso' },
        { name: 'Nyanja', lang: 'ny' },
        { name: 'Occitan', lang: 'oc' },
        { name: 'Oromo', lang: 'om' },
        { name: 'Oriya', lang: 'or' },
        { name: 'Punjabi', lang: 'pa' },
        { name: 'Polish', lang: 'pl' },
        { name: 'Pashto', lang: 'ps' },
        { name: 'Portuguese', lang: 'pt' },
        { name: 'Quechua', lang: 'qu' },
        { name: 'Rhaeto Romance', lang: 'rm' },
        { name: 'Rundi', lang: 'rn' },
        { name: 'Romanian', lang: 'ro' },
        { name: 'Russian', lang: 'ru' },
        { name: 'Kinyarwanda', lang: 'rw' },
        { name: 'Sanskrit', lang: 'sa' },
        { name: 'Scots', lang: 'sco' },
        { name: 'Sindhi', lang: 'sd' },
        { name: 'Sango', lang: 'sg' },
        { name: 'Sinhalese', lang: 'si' },
        { name: 'Slovak', lang: 'sk' },
        { name: 'Slovenian', lang: 'sl' },
        { name: 'Samoan', lang: 'sm' },
        { name: 'Shona', lang: 'sn' },
        { name: 'Somali', lang: 'so' },
        { name: 'Albanian', lang: 'sq' },
        { name: 'Serbian', lang: 'sr' },
        { name: 'Siswant', lang: 'ss' },
        { name: 'Sesotho', lang: 'st' },
        { name: 'Sundanese', lang: 'su' },
        { name: 'Swedish', lang: 'sv' },
        { name: 'Swahili', lang: 'sw' },
        { name: 'Syriac', lang: 'syr' },
        { name: 'Tamil', lang: 'ta' },
        { name: 'Telugu', lang: 'te' },
        { name: 'Tajik', lang: 'tg' },
        { name: 'Thai', lang: 'th' },
        { name: 'Tigrinya', lang: 'ti' },
        { name: 'Turkmen', lang: 'tk' },
        { name: 'Tagalog', lang: 'tl' },
        { name: 'Klingon', lang: 'tlh' },
        { name: 'Tswana', lang: 'tn' },
        { name: 'Tonga', lang: 'to' },
        { name: 'Turkish', lang: 'tr' },
        { name: 'Tsonga', lang: 'ts' },
        { name: 'Tatar', lang: 'tt' },
        { name: 'Uighur', lang: 'ug' },
        { name: 'Ukrainian', lang: 'uk' },
        { name: 'Urdu', lang: 'ur' },
        { name: 'Uzbek', lang: 'uz' },
        { name: 'Venda', lang: 've' },
        { name: 'Vietnamese', lang: 'vi' },
        { name: 'Volapuk', lang: 'vo' },
        { name: 'Waray Philippines', lang: 'war' },
        { name: 'Wolof', lang: 'wo' },
        { name: 'Xhosa', lang: 'xh' },
        { name: 'Yiddish', lang: 'yi' },
        { name: 'Yoruba', lang: 'yo' },
        { name: 'Zhuang', lang: 'za' },
        { name: 'Chinese Simplified', lang: 'zh' },
        { name: 'Chinese Traditional', lang: 'zh-Hant' },
        { name: 'Zulu', lang: 'zu' }
    ];
    const selected_def_langs_to_change = document.querySelectorAll('p[id^="P-DEF"]');
    const selected_des_langs_to_change = document.querySelectorAll('p[id^="P-DES"]');
    for(i=0; i<selected_def_langs_to_change.length; i++){
        for(j=0; j<languages.length; j++){
            if(selected_def_langs_to_change[i].id.includes(languages[j].lang)){
                selected_def_langs_to_change[i].innerHTML = 'Definition Lang: ' +languages[j].name;
            }
        }
    }
    for(i=0; i<selected_des_langs_to_change.length; i++){
        for(j=0; j<languages.length; j++){
            if(selected_des_langs_to_change[i].id.includes(languages[j].lang)){
                selected_des_langs_to_change[i].innerHTML = 'Description Lang: ' +languages[j].name;
            }
        }
    }


    // Funkcja do filtrowania i wyświetlania wyników dla konkretnego pola
    function filterLanguages(inputElement, listElement) {
        const input = inputElement.value.toLowerCase();
        listElement.innerHTML = ''; // Czyszczenie listy

        if (input === '') return;

        const filteredLanguages = languages.filter(language =>
            language.name.toLowerCase().includes(input)
        );

        filteredLanguages.forEach(language => {
            const li = document.createElement('li');
            li.textContent = language.name;
            li.dataset.lang = language.lang; // Przechowywanie kodu języka w atrybucie dataset
            li.addEventListener('click', () => selectLanguage(inputElement, listElement, language.name, language.lang));
            listElement.appendChild(li);
        });
    }

    // Funkcja do obsługi wybranego języka
    function selectLanguage(inputElement, listElement, name, lang) {
        inputElement.value = name;
        listElement.innerHTML = ''; // Ukrycie listy po wyborze
        console.log('Wybrano język:', name, 'Kod języka:', lang); // Można dostosować do swoich potrzeb
        const hiddenInputElement = document.querySelector(`input[name="${inputElement.name.replace('_show', '')}"]`);
        hiddenInputElement.value = lang; // Ustawianie kodu języka w ukrytym polu

        listElement.addEventListener('click', function (event) {
            if (event.target.tagName === 'LI') {
                const selectedLang = event.target.getAttribute('data-lang'); // Pobieranie kodu języka
                inputElement.value = event.target.textContent; // Ustawianie nazwy języka w widocznym polu
                hiddenInputElement.value = selectedLang; // Ustawianie kodu języka w ukrytym polu
                listElement.style.display = 'none'; // Ukrywanie listy po wyborze
            }
        });
    }
    function swap_lang_codes(event, card_id){
        event.preventDefault();
        let INPUT_DEF_LANG_ID = document.getElementById('INPUT_DEF_LANG_ID'+card_id).value;
        let INPUT_DES_LANG_ID = document.getElementById('INPUT_DES_LANG_ID'+card_id).value;
        let def_lang = document.getElementById('def-lang_show'+card_id).value;
        let def_lang_hidden = document.getElementById('def-lang'+card_id);
        let des_lang = document.getElementById('des-lang_show'+card_id).value;
        let des_lang_hidden = document.getElementById('des-lang'+card_id);
        let def_lang_temp = def_lang;
        let des_lang_temp = des_lang;

        def_lang = def_lang_temp;
        des_lang = des_lang_temp;
        if(def_lang === ''){
            def_lang_temp = INPUT_DEF_LANG_ID;
        }else{
            def_lang_temp = languages.find(l => l.name === def_lang).lang;
        }
        if(des_lang === ''){
            des_lang_temp = INPUT_DES_LANG_ID;
        }else{
            des_lang_temp = languages.find(l => l.name === des_lang).lang;
        }
        document.getElementById('def-lang'+card_id).innerHTML.valueOf(def_lang_temp);
        document.getElementById('des-lang'+card_id).innerHTML.valueOf(des_lang_temp);
        def_lang_hidden.value = def_lang_temp;
        des_lang_hidden.value = des_lang_temp;
        // Ensure the form is correctly referenced
        const editForm = document.getElementById('edit-form-' + card_id);
        if (editForm) {
            editForm.submit();
        } else {
            console.error("Form with ID 'edit-form-' + card_id + ' not found.");
        }

    }
    // Podpinanie funkcji do wszystkich dynamicznych pól input
    document.querySelectorAll('input[id^="def-lang"]').forEach(input => {
        const id = input.id.match(/\d+/)[0]; // Wyciągamy numer ID z inputu
        const listElement = document.getElementById(`def-lang-list${id}`);
        input.addEventListener('input', function() {
            filterLanguages(this, listElement);
        });
    });

    document.querySelectorAll('input[id^="des-lang"]').forEach(input => {
        const id = input.id.match(/\d+/)[0]; // Wyciągamy numer ID z inputu
        const listElement = document.getElementById(`des-lang-list${id}`);
        input.addEventListener('input', function() {
            filterLanguages(this, listElement);
        });
    });


        const selected_def_langs = document.querySelectorAll('select[id^="def_lang"]');
        const selected_des_langs = document.querySelectorAll('select[id^="des_lang"]');




    document.addEventListener('DOMContentLoaded', function() {
        for(i=0; i<selected_def_langs.length; i++){
            let def_lang = arr[i].def_lang.split(',');
            def_lang.forEach(function(item){
                let option = document.createElement('option');
                option.value = item;
                option.text = item;
                selected_def_langs[i].appendChild(option);
            });
            let des_lang = arr[i].des_lang.split(',');
            des_lang.forEach(function(item){
                let option = document.createElement('option');
                option.value = item;
                option.text = item;
                selected_des_langs[i].appendChild(option);
            });

            let otherLangOptionDef = document.createElement('option');
            otherLangOptionDef.innerHTML=`
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#def_lang_modal">
                    Add new language
                </button>
            `
            selected_def_langs[i].appendChild(otherLangOptionDef);

            let otherLangOptionDes = document.createElement('option');
            otherLangOptionDes.innerHTML=`
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#des_lang">
                    Add new language
                </button>
            `
            selected_des_langs[i].appendChild(otherLangOptionDes);

        }
    });

    
   //ukrywanie obrazków przesłanych bezposrednio z serwera. Potem są one wyświetlane w odpowiednich miejscach
        let hiddenImages = document.querySelectorAll('img[id^="source_image"]');
        let targetImageArr = document.querySelectorAll('img[id^="targetImage"]');        
        for(let i=0; i<hiddenImages.length; i++){
            if(!hiddenImages[i].src.includes("http://localhost:8080/EditFlashCardSet/")){
                targetImageArr[i].src = hiddenImages[i].src;
                targetImageArr[i].alt = 'Obraz fiszki';
                targetImageArr[i].style.display = 'inline';
            }else{
                targetImageArr[i].style.display = 'none';
            }
        }

            // automatyczne dostosowanie wysokości textarea do zawartości
           function autoResize(textarea) {
               textarea.style.height = 'auto';
               textarea.style.height = textarea.scrollHeight + 'px';
           }

           function addAutoResizeToTextarea(textarea) {
               textarea.addEventListener('input', function() { autoResize(textarea); }, false);
               autoResize(textarea);
           }

           window.addEventListener('DOMContentLoaded', (event) => {
               const textareas = document.querySelectorAll('.input_def');
               textareas.forEach(addAutoResizeToTextarea);
           });


            //dodawanie nowych formularzy po kliknięciu przycisku
             let formCount = 0;
           document.getElementById('addCardButton').addEventListener('click', function() {
                const formContainer = document.getElementById('formContainer');
                const setID = document.getElementById('setID').value;

                const newCardForm = document.createElement('div');
                newCardForm.innerHTML = `
                    <div class="input_def_des_box">
                        <p style="float: left; margin: 0; margin-left: 10px;">Create new card</p>
                        <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                        <input type="hidden" value="${setID}" name="SetID">
                        <div class="input_def_box">
                            <textarea wrap="hard" class="input_def" name="Definition[]"></textarea>
                            <div style="font-size: 16px">Pojęcie</div>
                        </div>
                        <div>
                            <label for="file-upload${formCount}" class="custom-file-upload" style="text-align: center; font-size: 13px;">
                                <i class="fas fa-upload"></i> Obraz
                            </label>
                            <input id="file-upload${formCount}" type="file" class="input_image" name="file[]" multiple>
                        </div>
                        <div class="input_des_box">
                            <textarea wrap="hard" class="input_def" name="Description[]"></textarea>
                            <div style="font-size: 16px">Definicja</div>
                        </div>
                    </div>
                `;

                formContainer.appendChild(newCardForm);
                formCount++;
                const newTextareas = newCardForm.querySelectorAll('.input_def');
                newTextareas.forEach(addAutoResizeToTextarea);
            });

            // wysłanie wszystkich formularzy po kliknięciu przycisku
           document.getElementById('submitButton').addEventListener('click', function(event) {
               event.preventDefault(); // Zapobiega domyślnemu przesyłaniu formularza
               // Dodanie wszystkich formularzy do jednego
               const mainForm = document.getElementById('mainForm');
               const formContainer = document.getElementById('formContainer');
               const forms = formContainer.querySelectorAll('div.input_def_des_box');
               forms.forEach(function(form) {
                   mainForm.appendChild(form.cloneNode(true));
               });
               mainForm.submit(); // Przesłanie formularza
           });


    //----------------------------------------------------------
  /*]]>*/


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
