<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/EditFlashCardSet_style.css}" />
    <script src="https://kit.fontawesome.com/50d738d854.js" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form id="userForm" action="#" th:action="@{/userpanel}" th:object="${user}" method="post">
        <input th:name="UserLogin" th:field="*{UserLogin}" th:value="${user.UserLogin}" type="hidden">
        <input th:name="UserPass" th:field="*{UserPass}" th:value="${user.UserPass}" type="hidden">
        <input id="submitButton" type="submit" value="Return to userpanel" class="navbar-brand" style="display: none">
        <a id="customLink" class="navbar-brand" href="#" role="button">My Learn App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </form>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create new set
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <form th:action="@{/Add}"  th:object="${flashCardSet1}" method="post"  style="display: block">
                        <label for="SetName">Set Name</label>
                        <input name="SetName" class="form-control" id="SetName" placeholder="Set name" style="width: auto">
                        <label for="Description">Description</label>
                        <input name="Description" id="Description" class="form-control" placeholder="Description" style="width: auto; margin-bottom: 0.5rem">
                        <input type="submit" value="Add">
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${user.userName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:href="@{/Logout}" class="dropdown-item">Logout</a>
                    <div class="dropdown-divider"></div>
                    <span th:text="${user.userSurname}" class="dropdown-item"></span>
                    <a th:href="@{/AddFlashCardSet/{userID}(userID=${user.userID})}" class="dropdown-item">  Create new set</a>
                </div>


            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

    <th:block th:each="image : ${imagePaths}">
            <img th:src="${image}" alt="Obraz fiszki" style="display: none" id="source_image"/>
    </th:block>




<main>
        <aside>
            <a href="#" th:href="@{/FlashCardGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">FlashCards</a>
            <a href="#" th:href="@{/QuizGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">QuizGame</a>
            <a href="#" th:href="@{/MatchingGame}" class="btn btn-primary" style="background-color: #fde5ee; border: none; color: black">MatchingGame</a>
        </aside>
        <section >

            <div class="input_def_des_box" th:each="card :${flashCard}" >
                <p style="float: left; margin: 0; margin-left: 10px;" th:text="${card.FlashCardId}"></p>
                <a href="#" th:href="@{/deleteCard(FlashCardId=${card.FlashCardId}, SetID=${card.SetID})}" style="float: right; margin-right: 10px;">
                    <i class="fa-solid fa-x" ></i>

                </a>
                <button th:data-name="${card.FlashCardId}" th:onclick="showEditField(this.getAttribute('data-name'))" style="background: none; border: none; float: right">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                <!--------------------------------------------------------------------------------------->
                <!--Edit exist card---------------------------------------------------------------------->
                <form th:action="@{/EditCard}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:value="${card.FlashCardId}" name="FlashCardId">
                    <input type="hidden" th:value="${card.SetID}" name="SetID">
                <div class="input_def_box">
                    <textarea class="input_def"  th:text="${card.Definition}" name="Definition" th:id="'DefinitionInput_' + ${card.FlashCardId}"  disabled></textarea>

                    <div style="font-size: 16px">Pojęcie</div>
                </div>
                <div class="input_des_box">
                    <textarea class="input_def"  th:text="${card.Description}" name="Description" th:id="'DescriptionInput_' + ${card.FlashCardId}"  disabled></textarea>
                    <input type="submit" value="Confirm edit" th:id="'Confirm_' + ${card.FlashCardId}" style="display: none">
                    <div style="font-size: 16px">Defnicja</div>
                </div>
                </form>
                <div>
                    <label for="file-upload" class="custom-file-upload" style=" text-align: center; font-size: 13px; ">
                        <i class="fas fa-upload"></i> Obraz
                    </label>
                    <input id="file-upload" type="file" class="input_image" th:name="file">
                </div>
                <span th:text="${card.path}"></span>
                <!-- Element docelowy -->
                <img id="targetImage" alt="Obraz" style="max-height: 100px;">


            </div>
            <!--------------------------------------------------------------------------------------->
            <!--Input a new card--------------------------------------------------------------------->
            <div class="input_def_des_box">
                <p style="float: left; margin: 0; margin-left: 10px;" >Create new card</p>
                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                <form th:action="@{/AddCard}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="${flashCards.SetID}" name="SetID">
                    <div class="input_def_box">
                        <textarea class="input_def" name="Definition"></textarea>

                        <div style="font-size: 16px">Pojęcie</div>
                    </div>
                    <div>
                        <label for="file-upload2" class="custom-file-upload" style=" text-align: center; font-size: 13px; ">
                            <i class="fas fa-upload"></i> Obraz
                        </label>
                        <input id="file-upload2" type="file" class="input_image" th:name="file" >
                    </div>
                    <div class="input_des_box">
                        <textarea class="input_def"   name="Description" ></textarea>
                        <input type="submit" value="Add Card">
                        <div style="font-size: 16px">Defnicja</div>
                    </div>
                </form>

            </div>
        </section>
        <article>
            <p>Your set learning progress is:</p>
            <p th:text="${flashcard_set_progress}"></p>
            <p>Count learned:</p>
            <p th:text="${count_learned}"></p>
            <p>set_size:</p>
            <p th:text="${set_size}"></p>
            You know these cards:
            <div th:each="leared :${learncard}">
                <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
                <p th:text="${leared.Definition}"></p>
                <p th:text="${leared.Description}"></p>
            </div>
         </article>
    </main>









           

<script th:inline="javascript">
    function showEditField(cardId) {
    var definitionInput = document.getElementById('DefinitionInput_' + cardId);
    var descriptionInput = document.getElementById('DescriptionInput_' + cardId);
    let Confirm_button = document.getElementById('Confirm_' + cardId);
    Confirm_button.style.display="block";
    let Inputs=[definitionInput, descriptionInput];
    Inputs.forEach(input => {
        input.disabled= false;
    });
}

    document.getElementById("customLink").addEventListener("click", function(e) {
        e.preventDefault(); // Prevent default link behavior
        document.getElementById("userForm").submit(); // Submit the form
    });
    function autoResize(textareaId) {
        var textarea = document.getElementById(textareaId);
        //     textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }
    /*<![CDATA[*/

    let arr = /*[[${slidecard}]]*/ "";
    console.log(arr);


    //----------------------------------------------------------
    var images = document.querySelectorAll('img[id^="targetImage"]');

    // Pętla iterująca po wszystkich elementach img
    images.forEach(function(image, index) {
        // Nadajemy nowe id dla każdego obrazka z autoinkrementacją
        image.setAttribute('id', 'targetImage' + index);
    });
    //----------------------------------------------------------
    document.addEventListener('DOMContentLoaded', function() {
        var hiddenImages = document.querySelectorAll('img[id^="source_image"]');
        hiddenImages.forEach(function(hiddenImage, index) {
            var targetImageId = 'targetImage' + index; // Tworzymy nowe ID z autoinkrementacją
            var targetImage = document.getElementById(targetImageId);
            targetImage.src = hiddenImage.src;
            targetImage.alt = 'Obraz fiszki';
            targetImage.style.display = 'inline'; // Pokaż docelowy obrazek po ustawieniu src
        });
    });

    //----------------------------------------------------------
  /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>