<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/FlashCardGameStyle.css}" />-->
    <link rel="stylesheet" type="text/css" href="/static/FlashCardGameStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar"></div>

    <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
        <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
    <div id="show_card_container">
        <div id="show_card">
           <div id="card_def" onclick="rotate_card()"></div>
            <div id="card_des" onclick="rotate_card()"></div>
        </div>
        <div id="buttons">
            <button id="previous" onclick="change_card('previous')">previous</button>
            <button id="next" onclick="change_card('next')">next</button>
            <form id="knowForm" action="/test" method="get">
                <input type="hidden" name="flashCardId" id="flashCardId" value="">
                <input type="hidden" name="learned" id="learned" value="">
            <button onclick="know_card(1)" type="submit">I know</button>
            <button onclick="know_card(0)" type="submit">I dont't know</button>

            </form>
            <form id="knowForm2" action="/test2" method="get">
                <input type="hidden" name="flashCardId" id="flashCardId2" value="">
                <input type="hidden" name="learned" id="learned2" value="">
                <input type="hidden" name="grade" id="grade2" value=""> <!-- Dodane pole oceny -->
                <button onclick="user_grade(1)" type="submit">1</button>
                <button onclick="user_grade(2)" type="submit">2</button>
                <button onclick="user_grade(3)" type="submit">3</button>
                <button onclick="user_grade(4)" type="submit">4</button>
                <button onclick="user_grade(5)" type="submit">5</button>
            </form>

        </div>
        <div id="know_dont_know">
            <span id="know">0</span>
            <span id="dont_know">0</span>
        </div>
        <a href="#" th:href="@{/userpanel}" class="btn btn-primary">Return to userpanel</a>
        <a href="#" th:href="@{/redirect_EditFlashCardSet}" class="btn btn-primary" id="Return">Return to  EditFlashCardSet</a>
        <a href="#" th:href="@{/FlashCardGame}" class="btn btn-primary" >Return to  FlashCardGame</a>
    </div>



    <script th:inline="javascript">
        function showEditField(cardId) {
        var definitionInput = document.getElementById('DefinitionInput_' + cardId);
        var descriptionInput = document.getElementById('DescriptionInput_' + cardId);
        let Confirm_button = document.getElementById('Confirm_' + cardId);
        Confirm_button.style.display="block";
        let Inputs=[definitionInput, descriptionInput];
        Inputs.forEach(input => {
            input.disabled= false;
        });        
    } 
        /*<![CDATA[*/
    
        class card{
            constructor(definition, description, flashCardId, Is_known, Is_viewed){
                this.definition=definition;
                this.description=description;
                this.flashCardId=flashCardId;
                this.Is_known=Is_known;
                this.Is_viewed=Is_viewed;
            }
        }
    
        let arr = /*[[${slidecard}]]*/ "";

        let test= "test";
        let card_arr=[];
        for(let i=0; i<arr.length; i++){
            card_arr.push(new card(arr[i].definition, arr[i].description, arr[i].flashCardId, arr[i].Learned));
        }
        console.log(card_arr);
        let i=0;
        let j=0;
        let side=0;
    
        document.getElementById("card_def").innerHTML=arr[0].definition;
        document.getElementById("card_des").innerHTML=arr[0].description;
        function change_card(direction){
            if(direction=="previous" && i>0){ i--};
            if(direction=="next" && i<arr.length-1)    { i++};
            document.getElementById("card_def").innerHTML=arr[i].definition;
            document.getElementById("card_des").innerHTML=arr[i].description;
            console.log(i);
        }
        function rotate_card() {
        if (j % 2 == 0) {
            document.getElementById("show_card").style.transform = " rotateY(180deg)";
            side=1;
        } else {
            document.getElementById("show_card").style.transform = " rotateY(0deg)";
            side=0;
        }
        j++;
    }
        function know_card(know) {
        if (know == 1) {
            document.getElementById("know").innerHTML = parseInt(document.getElementById("know").innerHTML) + 1;
            card_arr[i].Is_known=true;
        } else {
            document.getElementById("dont_know").innerHTML = parseInt(document.getElementById("dont_know").innerHTML) + 1;
        }
        change_card("next");
        if (side == 1) {
            document.getElementById("show_card").style.transition="transform 0s";
            rotate_card();
            setTimeout(function () {
                document.getElementById("show_card").style.transition="transform 0.8s";
            }, 100);
           
        }
       
    
    }
        document.getElementById("customLink").addEventListener("click", function(e) {
            e.preventDefault(); // Prevent default link behavior
            document.getElementById("userForm").submit(); // Submit the form
        });


        function know_card(know) {
            // Ustawienie wartości dla pól formularza
            document.getElementById("flashCardId").value = card_arr[i].flashCardId;
            document.getElementById("learned").value = know == 1 ? "true" : "false";

            // Wysłanie formularza
            document.getElementById("knowForm").submit();
        }
        function user_grade(grade) {
            // Ustawienie wartości dla pól formularza
            document.getElementById("flashCardId2").value = card_arr[i].flashCardId;
            document.getElementById("learned2").value = "true";
            document.getElementById("grade2").value = grade; // Ustawienie wartości oceny

            // Wysłanie formularza
            document.getElementById("knowForm2").submit();
        }




        /*]]>*/
    </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>