<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/FlashCardGameStyle.css}" />-->
    <link rel="stylesheet" type="text/css" href="/static/FlashCardGameStyle.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/navbar"></div>

    <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
        <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
    <div id="show_card_container">
        <div id="show_card">
           <div id="card_def" onclick="rotate_card()"></div>
            <div id="card_des" onclick="rotate_card()"></div>
        </div>
        <div id="buttons">
            <button id="previous" onclick="change_card('previous')" style=" grid-area: 1/ 1/ 1/ 6;" class="btn btn-dark btn-block">previous</button>
            <button id="next" onclick="change_card('next')" style="grid-area: 1 / 6 / 1 / 11;" class="btn btn-dark btn-block">next</button>
            <form id="knowForm2" action="/submit_grade" method="get" style="visibility: hidden;display: none;">
                <input type="hidden" name="flashCardId" id="flashCardId2" value="">
                <input type="hidden" name="grade" id="grade2" value=""> <!-- Dodane pole oceny -->
            </form>
            <button onclick="user_grade(1)" type="submit" style="grid-area: 2/1/2/3;"  class="btn btn-danger">1</button>
            <button onclick="user_grade(2)" type="submit" style="grid-area: 2/3/2/5;"  class="btn btn-danger">2</button>
            <button onclick="user_grade(3)" type="submit" style="grid-area: 2/5/2/7;"  class="btn btn-danger">3</button>
            <button onclick="user_grade(4)" type="submit" style="grid-area: 2/7/2/9;"  class="btn btn-success">4</button>
            <button onclick="user_grade(5)" type="submit" style="grid-area: 2/9/2/11;" class="btn btn-success">5</button>
        </div>
        <div id="know_dont_know">
            <span id="know" th:text="'You know: ' + ${Learned}"></span>
            <span id="dont_know" th:text="'Still learning: ' + ${NotLearned}"></span>
        </div>
        <div class="a-links">
            <a href="#" th:href="@{/userpanel}" class="btn btn-info">Return to Main Panel</a>
            <a href="#" th:href="@{/redirect_EditFlashCardSet}" class="btn btn-info" id="Return">Return to Flashcard Set</a>
            <a href="#" th:href="@{/FlashCardGame}" class="btn btn-info" id="FlashCardGame">Reset Flashcard game</a>
        </div>

    </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="position: absolute; top: 50%; display: none" >
    Launch demo modal
</button>

<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document" > <!-- style="display: flex; align-items: center; min-height: calc(100% - 4rem);" -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Congratulation, You have finished</h5>
            </div>
            <div class="modal-body">
                Tu dam może jakie wyniki danej sesji
            </div>
            <div class="modal-footer">
                <a href="#" th:href="@{/userpanel}" class="btn btn-info">Return to Main Panel</a>
                <a href="#" th:href="@{/redirect_EditFlashCardSet}" class="btn btn-info" id="Return2">Return to Flashcard Set</a>
                <a href="#" th:href="@{/FlashCardGame}" class="btn btn-info" id="FlashCardGame2">Reset Flashcard game</a>
            </div>
        </div>
    </div>
</div>

    <script th:inline="javascript">
        function showEditField(cardId) {
        var definitionInput = document.getElementById('DefinitionInput_' + cardId);
        var descriptionInput = document.getElementById('DescriptionInput_' + cardId);
        let Confirm_button = document.getElementById('Confirm_' + cardId);
        Confirm_button.style.display="block";
        let Inputs=[definitionInput, descriptionInput];
        Inputs.forEach(input => {
            input.disabled= false;
        });        
    } 
        /*<![CDATA[*/
    
        class card{
            constructor(definition, description, flashCardId, Is_known, Is_viewed){
                this.definition=definition;
                this.description=description;
                this.flashCardId=flashCardId;
                this.Is_known=false;
                this.Is_viewed=Is_viewed;
            }
        }

        let arr = /*[[${slidecard}]]*/ "";
        const setID = arr[0].setID;
        let test= "test";
        let card_arr=[];
        for(let i=0; i<arr.length; i++){
            card_arr.push(new card(arr[i].definition, arr[i].description, arr[i].flashCardId, arr[i].Learned));
        }
        console.log(card_arr);
        let i=0;
        let j=0;
        let side=0;

        document.getElementById("card_def").innerHTML=arr[0].definition;
        document.getElementById("card_des").innerHTML=arr[0].description;
        function change_card(direction){
            if(direction=="previous" && i>0){ i--};
            if(direction=="next" && i<arr.length-1)    { i++};
            document.getElementById("card_def").innerHTML=arr[i].definition;
            document.getElementById("card_des").innerHTML=arr[i].description;
            console.log(i);
        }
        function rotate_card() {
        if (j % 2 == 0) {
            document.getElementById("show_card").style.transform = " rotateY(180deg)";
            side=1;
        } else {
            document.getElementById("show_card").style.transform = " rotateY(0deg)";
            side=0;
        }
        j++;
    }
        function know_card(know) {
        if (know == 1) {
            document.getElementById("know").innerHTML = parseInt(document.getElementById("know").innerHTML) + 1;
            card_arr[i].Is_known=true;
        } else {
            document.getElementById("dont_know").innerHTML = parseInt(document.getElementById("dont_know").innerHTML) + 1;
        }
        change_card("next");
        if (side == 1) {
            document.getElementById("show_card").style.transition="transform 0s";
            rotate_card();
            setTimeout(function () {
                document.getElementById("show_card").style.transition="transform 0.8s";
            }, 100);
           
        }
       
    
    }


        const url = window.location.href;
        const queryParams = new URLSearchParams(window.location.search);

        // Pobranie wartości parametru 'Preview'
        const previewValue = queryParams.get('Preview');
        console.log("url = " + url);
        console.log("queryParams = " + queryParams);
        console.log("queryParams.get('Preview') = " + previewValue);

        let FlashCardGame = document.getElementById("FlashCardGame");
        let FlashCardGame2 = document.getElementById("FlashCardGame2");
        if(previewValue === "true") {
            document.getElementById("know_dont_know").style.display = "none";
            let Return = document.getElementById("Return");
            let Return2 = document.getElementById("Return2");
            Return.href = "/SetPreview/"+setID;
            Return2.href = "/SetPreview/"+setID;
            console.log("Return = " + Return);
            console.log("Return2 = " + Return2);
            FlashCardGame.href = "FlashCardGame?Preview=true";
            FlashCardGame2.href = "FlashCardGame?Preview=true";
        } else {
            FlashCardGame.href = "FlashCardGame?Preview=false";
            FlashCardGame2.href = "FlashCardGame?Preview=false";
        }
        function user_grade(grade) {
            if(previewValue === "false"){
                document.getElementById("flashCardId2").value = card_arr[i].flashCardId;

                document.getElementById("grade2").value = grade; // Ustawienie wartości oceny

                // Wysłanie formularza
                document.getElementById("knowForm2").submit();
            }


            const knowSpan = document.getElementById("know");
            const dontKnowSpan = document.getElementById("dont_know");

            // Wydobywanie liczby na końcu tekstu
            const knowCount = parseInt(knowSpan.innerHTML.match(/\d+$/)[0]);
            const dontKnowCount = parseInt(dontKnowSpan.innerHTML.match(/\d+$/)[0]);

            if (grade > 3 && card_arr[i].Is_known === false) {
                card_arr[i].Is_known = true;
                knowSpan.innerHTML = "You know: " + (knowCount + 1);
                dontKnowSpan.innerHTML = "Still learning: " + (dontKnowCount - 1);
            } else if (grade <= 3 && card_arr[i].Is_known === true) {
                card_arr[i].Is_known = false;
                knowSpan.innerHTML = "You know: " + (knowCount - 1);
                dontKnowSpan.innerHTML = "Still learning: " + (dontKnowCount + 1);
            }
            if(i==arr.length-1){
                $('#exampleModal').modal('show');
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const customLink = document.getElementById("customLink");
            if (customLink) {
                customLink.addEventListener("click", function(e) {
                    e.preventDefault(); // Prevent default link behavior
                    document.getElementById("userForm").submit(); // Submit the form
                });
            }
        });


        /*]]>*/
    </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>