<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form id="userForm" action="#" th:action="@{/userpanel}" th:object="${user}" method="post">
        <input th:name="UserLogin" th:field="*{UserLogin}" th:value="${user.UserLogin}" type="hidden">
        <input th:name="UserPass" th:field="*{UserPass}" th:value="${user.UserPass}" type="hidden">
        <input id="submitButton" type="submit" value="Return to userpanel" class="navbar-brand" style="display: none">
        <a id="customLink" class="navbar-brand" href="#" role="button">My Learn App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </form>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create new set
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <form th:action="@{/Add}"  th:object="${flashCardSet1}" method="post"  style="display: block">
                        <label for="SetName">Set Name</label>
                        <input name="SetName" class="form-control" id="SetName" placeholder="Set name" style="width: auto">
                        <label for="Description">Description</label>
                        <input name="Description" id="Description" class="form-control" placeholder="Description" style="width: auto; margin-bottom: 0.5rem">
                        <input type="submit" value="Add">
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span th:text="${user.userName}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:href="@{/Logout}" class="dropdown-item">Logout</a>
                    <div class="dropdown-divider"></div>
                    <span th:text="${user.userSurname}" class="dropdown-item"></span>
                    <a th:href="@{/AddFlashCardSet/{userID}(userID=${user.userID})}" class="dropdown-item">  Create new set</a>
                </div>


            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
    <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
        <div th:each="card : ${flashCard}" class="flashCard" style="display: none;">
            <div th:text="${card.Definition}" th:id="'DefinitionInput_' + ${card.FlashCardId}" ></div>
            <div th:text="${card.Description}" th:id="'DescriptionInput_' + ${card.FlashCardId}"></div>
           
        </div>
    <div id="show_card_container">
        <div id="show_card">
           <div id="card_def" onclick="rotate_card()"></div>
            <div id="card_des" onclick="rotate_card()"></div>
        </div>
        <div id="buttons">
            <button id="previous" onclick="change_card('previous')">previous</button>
            <button id="next" onclick="change_card('next')">next</button>  
            <button onclick="know_card(1)">I know</button> 
            <button onclick="know_card(0)">I dont't know</button> 
        </div>
        <div id="know_dont_know">
            <span id="know">0</span>
            <span id="dont_know">0</span>
        </div>
        <form action="#" th:action="@{/userpanel}" th:object="${user}" method="post" class="form-group">
            <input th:name="UserLogin" th:field="*{UserLogin}" th:value="${user.UserLogin}" type="hidden">
            <input th:name="UserPass" th:field="*{UserPass}" th:value="${user.UserPass}" type="hidden">
            <input type="submit" value="Return to userpanel">
        </form>
        <a href="#" th:href="@{/redirect_EditFlashCardSet}" class="btn btn-primary" id="Return">Return to  EditFlashCardSet</a> 
    </div>
       

    <script th:inline="javascript">
        function showEditField(cardId) {
        var definitionInput = document.getElementById('DefinitionInput_' + cardId);
        var descriptionInput = document.getElementById('DescriptionInput_' + cardId);
        let Confirm_button = document.getElementById('Confirm_' + cardId);
        Confirm_button.style.display="block";
        let Inputs=[definitionInput, descriptionInput];
        Inputs.forEach(input => {
            input.disabled= false;
        });        
    } 
        /*<![CDATA[*/
    
        class card{
            constructor(definition, description, flashCardId, Is_known){
                this.definition=definition;
                this.description=description;
                this.flashCardId=flashCardId;
                this.Is_known=Is_known;
            }
        }
    
        let arr = /*[[${slidecard}]]*/ "";
    
        let card_arr=[];
        for(let i=0; i<arr.length; i++){
            card_arr.push(new card(arr[i].definition, arr[i].description, arr[i].flashCardId, false));
        }
        console.log(card_arr);
        let i=0;
        let j=0;
        let side=0;
    
        document.getElementById("card_def").innerHTML=arr[0].definition;
        document.getElementById("card_des").innerHTML=arr[0].description;
        function change_card(direction){
            if(direction=="previous" && i>0){ i--};
            if(direction=="next" && i<arr.length-1)    { i++};
            document.getElementById("card_def").innerHTML=arr[i].definition;
            document.getElementById("card_des").innerHTML=arr[i].description;
            console.log(i);
        }
        function rotate_card() {
        if (j % 2 == 0) {
            document.getElementById("show_card").style.transform = " rotateY(180deg)";
            side=1;
        } else {
            document.getElementById("show_card").style.transform = " rotateY(0deg)";
            side=0;
        }
        j++;
    }
        function know_card(know) {
        if (know == 1) {
            document.getElementById("know").innerHTML = parseInt(document.getElementById("know").innerHTML) + 1;
            card_arr[i].Is_known=true;
        } else {
            document.getElementById("dont_know").innerHTML = parseInt(document.getElementById("dont_know").innerHTML) + 1;
        }
        change_card("next");
        if (side == 1) {
            document.getElementById("show_card").style.transition="transform 0s";
            rotate_card();
            setTimeout(function () {
                document.getElementById("show_card").style.transition="transform 0.8s";
            }, 100);
           
        }
       
    
    }
        document.getElementById("customLink").addEventListener("click", function(e) {
            e.preventDefault(); // Prevent default link behavior
            document.getElementById("userForm").submit(); // Submit the form
        });
      /*]]>*/
    </script>   
</body>
</html>