<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/login_style.css}" /> -->
    <link rel="stylesheet" type="text/css" href="/static/login_style.css" />
    <script src="https://cdn.jsdelivr.net/npm/franc@5.0.0/dist/franc.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mespeak.js@1.2.0/mespeak.min.js"></script>

    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/login}" method="post" class="form-group">
    <span id="error" th:if="${login_error == 'login_error'}" class="form-control" style="margin-bottom: 16px; background-color: cornsilk">Wrong login or password</span>

    <input name="UserLogin"  class="form-control" placeholder="Username" required>
    <input name="UserPass" class="form-control" placeholder="Password" type="password" required>
    <input type="submit" value="Login" class="btn btn-primary">
    <a class="badge badge-primary" style="width: 100%" th:href="@{/GetRegister}">Don't have account? Click to register</a><br>
    <a class="badge badge-primary" style="width: 100%" th:href="@{/ForgotPass}">Forgot password? Click to reset</a>
</form>


</body>

<script th:inline="javascript">
    document.addEventListener("input", function (){
        document.getElementById("error").style.display = "none";
    })
    const url = window.location.href;
    const queryParams = new URLSearchParams(window.location.search);

    // Pobranie wartości parametru 'Preview'
    const fromRegister = queryParams.get('fromRegister');
    console.log("url = " + url);
    console.log("queryParams = " + queryParams);
    console.log("queryParams.get('fromRegister') = " + queryParams.get('fromRegister'));
    if(queryParams.has("fromRegister") ){
        alert("You have been registered successfully. Check your email to activate account");
    }

</script>


</html>
