<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" type="text/css" th:href="@{/login_style.css}" />
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/userpanel}" th:object="${user}" method="post" class="form-group">
        <input th:name="UserLogin" th:field="*{UserLogin}" class="form-control" placeholder="Username" required>
        <input th:name="UserPass" th:field="*{UserPass}" class="form-control" placeholder="Password" type="password" required>
        <input type="submit" value="Login" class="btn btn-primary">
        <span><a th:href="@{/GetRegister}">Don't have account? Click to register</a></span>
    </form>
    
</body>
</html>
