<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/register_style.css}" /> -->
    <link rel="stylesheet" type="text/css" href="/static/register_style.css" />

    <style>
        
    </style>
    <title>Title</title>
</head>
<body>
    <form th:action="@{/PostRegister}" method="post" class="form-group" enctype="multipart/form-data">

        Name: <input th:name="UserName" class="form-control" required><br>
        Surname: <input th:name="UserSurname" class="form-control" required><br>
        <span id="login_error"  class="form-control" style="display: none; margin-bottom: 16px; background-color: cornsilk">User login is taken</span>
        Login: <input th:name="UserLogin" id="UserLogin" class="form-control" required><br>
        <span id="password_error"  class="form-control" style="display: none; margin-bottom: 16px; background-color: cornsilk; height: auto">Password must have at least one big letter and number</span>
        Password: <input th:name="UserPass" id="UserPass" class="form-control" type="password" required><br>
        <span id="mail_error" class="form-control" style="display: none; margin-bottom: 16px; background-color: cornsilk">User e-mail is taken</span>
        E-Mail: <input th:name="UserMail" id="UserMail" class="form-control" type="email" required><br>
        Profile photo: <input type="file" th:name="file" />
        <input type="submit" value="Register" id="form_submit" class="btn btn-primary">
        <span id="invalid_user_data" class="form-control" style="display: none; margin-bottom: 16px; background-color: cornsilk">Invalid user data</span>
    </form>


<script>
    Login_Taken = false;
    Mail_Taken = false;
    ValidPassword = true;
    document.getElementById("UserLogin").addEventListener("input", function() {
        const test_var = document.getElementById("UserLogin").value;
        document.getElementById("invalid_user_data").style.display = "none";
        fetch(`/checkLogin?UserLogin=${test_var}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data === true) {
                    document.getElementById("login_error").style.display = "block";
                    Login_Taken = true;
                } else {
                    document.getElementById("login_error").style.display = "none";
                    Login_Taken = false;
                }
            } );
    });
    document.getElementById("UserPass").addEventListener("blur", function() {  // Używamy 'blur' zamiast 'input'
        const test_var = encodeURIComponent(document.getElementById("UserPass").value);
        document.getElementById("password_error").style.display = "none";
        fetch(`/checkPassword?UserPass=${test_var}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data === true) {
                    document.getElementById("password_error").style.display = "none";
                    ValidPassword = true;
                } else {
                    document.getElementById("password_error").style.display = "block";
                    ValidPassword = false;
                }
            });
    });

    document.getElementById("UserMail").addEventListener("input", function() {
        const test_var = document.getElementById("UserMail").value;
        document.getElementById("invalid_user_data").style.display = "none";
        fetch(`/checkMail?UserMail=${test_var}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data === true) {
                    document.getElementById("mail_error").style.display = "block";
                    Mail_Taken = true;
                } else {
                    document.getElementById("mail_error").style.display = "none";
                    Mail_Taken = false;
                }
            } );
    });
    document.getElementById("form_submit").addEventListener("click", function(event) {
        if (Login_Taken || Mail_Taken) {
            event.preventDefault();
            document.getElementById("invalid_user_data").style.display = "block";
        }
    });
</script>
</body>
</html>
