<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/PostRegister}" method="post" class="table table-striped">
        UserName: <input  th:name="UserName"><br>
        UserSurname: <input  th:name="UserSurname"><br>
        UserLogin: <input  th:name="UserLogin"><br>
        UserPass: <input  th:name="UserPass"><br>
        UserMail: <input  th:name="UserMail"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>