<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/SearchStyle.css}" />
    <title>Title</title>
</head>
<body>

    <div th:insert="~{/fragments/navbar}"></div>
    <th:block th:each="image, stat : ${imagePaths}">
        <img th:src="${image}" alt="Obraz fiszki" style="display: none" th:id="'source_image' + ${stat.index}"/>
    </th:block>



    <div class="input_def_des_box" th:each="card :${flashCards}" >


        <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
        <!--------------------------------------------------------------------------------------->
        <!--Edit exist card---------------------------------------------------------------------->
        <form action="/CloneCard" method="get" enctype="multipart/form-data">
            <input type="hidden" th:value="${card.FlashCardId}" name="FlashCardId">
            <input type="hidden" th:value="${card.SetID}" name="SetID">
            <div class="input_def_box">
                <textarea class="input_def"  th:text="${card.Definition}" name="Definition" th:id="'DefinitionInput_' + ${card.FlashCardId}"  disabled></textarea>

                <div style="font-size: 16px">Pojęcie</div>
            </div>
            <div class="input_des_box">
                <textarea class="input_def"  th:text="${card.Description}" name="Description" th:id="'DescriptionInput_' + ${card.FlashCardId}"  disabled></textarea>
                <input type="submit" value="Confirm edit" th:id="'Confirm_' + ${card.FlashCardId}" style="display: none">
                <div style="font-size: 16px">Defnicja</div>
            </div>

        <!-- Element docelowy -->
        <img th:id="targetImage" alt="Obraz" style="max-height: 100px;" class="target_image">
            <br>
            <div style="width: 100%; float: left">
                <button type="button" data-toggle="collapse" th:data-target="'#SetSelectCollapsible' +${card.FlashCardId}" class="btn btn-primary">Clone Card to your set:</button>
                <div th:id="'SetSelectCollapsible' + ${card.FlashCardId}" class="collapse form-group" >
                    <label for="SetSelect" class="label label-primary" style="margin: 0.375rem 0.375rem;">Select destinated set: </label>
                    <select name="SetSelect" id="SetSelect" class="form-control">
                        <option th:each="set : ${Sets}" th:value="${set.SetID}" th:text="${set.SetName}"></option>
                    </select>
                    <button type="submit" class="btn btn-success" style="margin-top: .375rem;">Move to set</button>
                </div>
            </div>


        </form>

    </div>
</body>
<script th:inline="javascript">


    let hiddenImages = document.querySelectorAll('img[id^="source_image"]');
    console.log(hiddenImages);
    let targetImageArr = document.querySelectorAll('img[id^="targetImage"]');
    for(let i=0; i<hiddenImages.length; i++){
        if(!hiddenImages[i].src.includes("http://localhost:8080/EditFlashCardSet/")){
            targetImageArr[i].src = hiddenImages[i].src;
            targetImageArr[i].alt = 'Obraz fiszki';
            targetImageArr[i].style.display = 'inline';
        }else{
            targetImageArr[i].style.display = 'none';
        }
    }

    //----------------------------------------------------------
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>