<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/style.css}" /> -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" />

    <title>Title</title>
</head>
<body>

<div th:insert="fragments/navbar"></div>
    <th:block th:each="image, stat : ${imagePaths}">
        <img th:src="${image}" alt="Obraz fiszki" style="display: none" th:id="'source_image' + ${stat.index}"/>
    </th:block>


<section style="margin-top: 76px">
    <fieldset style="top: 100px; position: relative; margin: 0 20px; display: block;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        border-width: 2px;
        border-style: groove;
        border-color: rgb(192, 192, 192);
        border-image: initial;
        box-sizing: border-box;">
        <legend style="width:auto">Your flashcard sets result:</legend>
            <div  class="card" style="width: 18rem; margin: 20px 50px" th:each="flashCardSet : ${Sets}" >
                <div class="card-body" >
                    <h5 class="card-title"  th:text="${flashCardSet.SetName}"></h5>
                    <p class="card-text"  th:text="${flashCardSet.SetDescription}"></p>
                    <a th:href="@{/SetPreview/{SetID}(SetID=${flashCardSet.SetID})}">Preview</a>
                </div>
            </div>
    </fieldset>
</section>

</body>
<script th:inline="javascript">


    let hiddenImages = document.querySelectorAll('img[id^="source_image"]');
    console.log(hiddenImages);
    let targetImageArr = document.querySelectorAll('img[id^="targetImage"]');
    for(let i=0; i<hiddenImages.length; i++){
        if(!hiddenImages[i].src.includes("http://localhost:8080/search")){
            targetImageArr[i].src = hiddenImages[i].src;
            targetImageArr[i].alt = 'Obraz fiszki';
            targetImageArr[i].style.display = 'inline';
        }else{
            targetImageArr[i].style.display = 'none';
        }
    }
    // automatyczne dostosowanie wysokości textarea do zawartości
    function autoResize(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 'px';
    }

    function addAutoResizeToTextarea(textarea) {
        textarea.addEventListener('input', function() { autoResize(textarea); }, false);
        autoResize(textarea);
    }

    window.addEventListener('DOMContentLoaded', (event) => {
        const textareas = document.querySelectorAll('.input_def');
        textareas.forEach(addAutoResizeToTextarea);
    });
    //----------------------------------------------------------
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>