<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/UserProfileStyle.css}" />
    <title>Title</title>
</head>
<body>
    <div th:insert="~{/fragments/navbar}"></div>
    <th:block th:each="image, stat : ${imagePaths}">
        <img th:src="${image}" alt="Obraz fiszki" style="display: none" th:id="'source_image' + ${stat.index}"/>
    </th:block>
    <div class="input_def_des_box" th:each="card :${flashCards}" >
        <a href="#" th:href="@{/deleteCard(FlashCardId=${card.FlashCardId}, SetID=${card.SetID})}" style="float: right; margin-right: 10px;">
            <i class="fa-solid fa-x" ></i>

        </a>
        <button th:data-name="${card.FlashCardId}" th:onclick="showEditField(this.getAttribute('data-name'))" style="background: none; border: none; float: right">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>

        <div style="width: 100%; height: 2px; background-color: black; float: right;"></div>
        <!--------------------------------------------------------------------------------------->
        <!--Edit exist card---------------------------------------------------------------------->
        <form th:action="@{/EditCard}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:value="${card.FlashCardId}" name="FlashCardId">
            <input type="hidden" th:value="${card.SetID}" name="SetID">
            <div class="input_def_box">
                <textarea class="input_def"  th:text="${card.Definition}" name="Definition" th:id="'DefinitionInput_' + ${card.FlashCardId}"  disabled></textarea>

                <div style="font-size: 16px">Pojęcie</div>
            </div>
            <div class="input_des_box">
                <textarea class="input_def"  th:text="${card.Description}" name="Description" th:id="'DescriptionInput_' + ${card.FlashCardId}"  disabled></textarea>
                <input type="submit" value="Confirm edit" th:id="'Confirm_' + ${card.FlashCardId}" style="display: none">
                <div style="font-size: 16px">Defnicja</div>
            </div>
        </form>
        <div>
            <label for="file-upload" class="custom-file-upload" style=" text-align: center; font-size: 13px; ">
                <i class="fas fa-upload"></i> Obraz
            </label>
            <input id="file-upload" type="file" class="input_image" th:name="file">
        </div>
        <!-- Element docelowy -->
        <img th:id="targetImage" alt="Obraz" style="max-height: 100px;">
        <p th:text="'Time out: '+ ${card.time_out}"></p>
        <p th:text="'next_rep: '+ ${card.next_rep}"></p>

    </div>
</body>
</html>